@model MvcFactbook.ViewModels.Models.Main.HomeView

@{
    ViewData["Title"] = "Home Page";
}

<partial name='HomeMenu' model='new { Title = "HOME", Icon = "/images/icons/home-light.png" }' />
<hr class="bg-light" />

<div class="d-flex flex-row flex-wrap">
    <partial name="HomeItemCount" model='new {
                Icon = "/images/icons/armedforce-light.png",
                Label = "ARMED FORCES",
                Value = @Model.ArmedForces,
                Controller = "ArmedForce",
                Action = "Index",
    }' />
    <partial name="HomeItemCount" model='new {
                Icon = "/images/icons/branch-light.png",
                Label = "BRANCHES",
                Value = @Model.Branches.Total,
                Controller = "Branch",
                Action = "Index",
    }' />
    <partial name="HomeItemCount" model='new {
                Icon = "/images/icons/builder-light.png",
                Label = "BUILDERS",
                Value = @Model.Builders.Total,
                Controller = "Builder",
                Action = "Index",
    }' />
    <partial name="HomeItemCount" model='new {
                Icon = "/images/icons/flag-light.png",
                Label = "FLAGS",
                Value = @Model.Flags.Total,
                Controller = "Flag",
                Action = "Index",
    }' />
    <partial name="HomeItemCount" model='new {
                Icon = "/images/icons/embassy-light.png",
                Label = "POLITICAL ENTITIES",
                Value = @Model.PoliticalEntities.Total,
                Controller = "PoliticalEntity",
                Action = "Index",
    }' />
    <partial name="HomeItemCount" model='new {
                Icon = "/images/icons/ship-light.png",
                Label = "SHIPS",
                Value = @Model.Ships.Total,
                Controller = "Ship",
                Action = "Index",
    }' />
    <partial name="HomeItemCount" model='new {
                Icon = "/images/icons/shipservice-light.png",
                Label = "SHIP SERVICES",
                Value = @Model.ShipServices.Total,
                Controller = "ShipService",
                Action = "Index",
    }' />
    <partial name="HomeItemCount" model='new {
                Icon = "/images/icons/shipclass-light.png",
                Label = "SHIP CLASSES",
                Value = @Model.ShipClasses.Total,
                Controller = "ShipClass",
                Action = "Index",
    }' />
</div>

<hr class="bg-light" />

<div class="d-flex flex-row flex-wrap">

    <div class="w-25 p-1">
        <partial name="DetailsItemHeader" model='new { Label = "FEATURED SHIP", Icon = "/images/icons/ship-light.png" }' />
        <div class="d-flex flex-row mt-2">
            @if (Model.FeaturedShip.HasFlag)
            {
                <div class="mr-3">
                    <img class="card-img-top-50 rounded" src="@Model.FeaturedShip.Flag.ImageSource" alt="Card image" style="height:30px;object-fit: cover;overflow: hidden;opacity:0.3" />
                </div>
            }
            <div class="text-white"><h4>@Model.FeaturedShip.Name</h4></div>
        </div>



        <div class="d-flex flex-row">
            
        </div>
        <div class="d-flex flex-row">
            @Model.FeaturedShip.Builder.Name
        </div>
        <div class="d-flex flex-row">
            @Model.FeaturedShip.HasFlag
        </div>
        <div class="d-flex flex-row">
            @if (Model.FeaturedShip.HasFlag)
            {
                @Model.FeaturedShip.Flag.Name
            }
        </div>
        <div class="d-flex flex-row">
            @Model.FeaturedShip.LaunchedLabel
        </div>




    </div>
    <div class="w-25 p-1">
        <partial name="DetailsItemHeader" model='new { Label = "FEATURED SERVICE", Icon = "/images/icons/shipservice-light.png" }' />



    </div>
    <div class="w-25 p-1">
        <partial name="DetailsItemHeader" model='new { Label = "FEATURED CLASS", Icon = "/images/icons/shipclass-light.png" }' />



    </div>
    <div class="w-25 p-1">
        <partial name="DetailsItemHeader" model='new { Label = "FEATURED BUILDER", Icon = "/images/icons/builder-light.png" }' />



    </div>
</div>





<hr class="bg-light" />

    <div class="d-flex flex-row flex-wrap">
        <div class="p-2">
            <partial name="DetailsItemLinkHeader" model='new {
                Icon = "/images/icons/shipclass-light.png",
                Label = "SHIP CLASSES",
                Controller = "ShipClass",
                Action = "Index",
                Link = @Model.ShipClasses.Total,
                Tooltip = "Ship Classes"
        }' />
            <div class="d-flex flex-row">
                <partial name="ChartDonutComplete" model='new { Id="ShipClassesChart", Item=@Model.ShipClasses }' />
            </div>
        </div>
        <div class="p-2">
            <partial name="DetailsItemLinkHeader" model='new {
                Icon = "/images/icons/ship-light.png",
                Label = "SHIPS",
                Controller = "Ship",
                Action = "Index",
                Link = @Model.Ships.Total,
                Tooltip = "Ships"
        }' />
            <div class="d-flex flex-row">
                <partial name="ChartDonutComplete" model='new { Id="ShipsChart", Item=@Model.Ships }' />
            </div>
        </div>
        <div class="p-2">
            <partial name="DetailsItemLinkHeader" model='new {
                Icon = "/images/icons/shipservice-light.png",
                Label = "SHIP SERVICES",
                Controller = "ShipService",
                Action = "Index",
                Link = @Model.ShipServices.Total,
                Tooltip = "Ship Services"
        }' />
            <div class="d-flex flex-row">
                <partial name="ChartDonutComplete" model='new { Id="ShipServicesChart", Item=@Model.ShipServices }' />
            </div>
        </div>
        <div class="p-2">
            <partial name="DetailsItemLinkHeader" model='new {
                Icon = "/images/icons/builder-light.png",
                Label = "BUILDERS",
                Controller = "Builder",
                Action = "Index",
                Link = @Model.Builders.Total,
                Tooltip = "Builders"
        }' />
            <div class="d-flex flex-row">
                <partial name="ChartDonutComplete" model='new { Id="BuildersChart", Item=@Model.Builders }' />
            </div>
        </div>
        <div class="p-2">
            <partial name="DetailsItemLinkHeader" model='new {
                Icon = "/images/icons/branch-light.png",
                Label = "BRANCHES",
                Controller = "Branch",
                Action = "Index",
                Link = @Model.Branches.Total,
                Tooltip = "Branches"
        }' />
            <div class="d-flex flex-row">
                <partial name="ChartDonutComplete" model='new { Id="BranchesChart", Item=@Model.Branches }' />
            </div>
        </div>
        <div class="p-2">
            <partial name="DetailsItemLinkHeader" model='new {
                Icon = "/images/icons/flag-light.png",
                Label = "FLAGS",
                Controller = "Flag",
                Action = "Index",
                Link = @Model.Flags.Total,
                Tooltip = "Flags"
        }' />
            <div class="d-flex flex-row">
                <partial name="ChartDonutComplete" model='new { Id="FlagsChart", Item=@Model.Flags }' />
            </div>
        </div>
        <div class="p-2">
            <partial name="DetailsItemLinkHeader" model='new {
                Icon = "/images/icons/embassy-light.png",
                Label = "POLITICAL ENTITIES",
                Controller = "PoliticalEntity",
                Action = "Index",
                Link = @Model.PoliticalEntities.Total,
                Tooltip = "Political Entities"
        }' />
            <div class="d-flex flex-row">
                <partial name="ChartDonutComplete" model='new { Id="PoliticalEntitiesChart", Item=@Model.PoliticalEntities }' />
            </div>
        </div>

    </div>

    <hr class="bg-light" />

    <div>
        @foreach (var item in Model.X)
        {
            <span>@item.Name</span>
        }
    </div>

    <hr class="bg-light" />

    <div>
        @foreach (var item in Model.ShipsList)
        {
            <span>@item.Name</span>
        }
    </div>

    <hr class="bg-light" />

    <div>
        @foreach (var item in Model.StartServicesList)
        {
            <span>@item.Name</span>
        }
    </div>

    <hr class="bg-light" />

    <div>
        @foreach (var item in Model.EndServicesList)
        {
            <span>@item.Name</span>
        }
    </div>

    <hr class="bg-light" />

    <div>
        <span>Featured Ship</span>
        <span>@Model.FeaturedShip.Name</span>
    </div>

    <hr class="bg-light" />

    <div>
        <span>Featured Ship Service</span>
        <span>@Model.FeaturedShipService.Name</span>
    </div>

    <hr class="bg-light" />

    <div>
        <span>Featured Ship Class</span>
        <span>@Model.FeaturedShipClass.Name</span>
    </div>

    <hr class="bg-light" />

    <div>
        <span>Featured Builder</span>
        <span>@Model.FeaturedBuilder.Name</span>
    </div>

