@model MvcFactbook.ViewModels.Models.Main.HomeView

@{
    ViewData["Title"] = "Home Page";
}

<partial name='HomeMenu' model='new { Title = "HOME", Icon = "/images/icons/home-light.png" }' />
<hr class="bg-light" />

<div class="d-flex flex-row flex-wrap">
    <partial name="HomeItemCount" model='new {
                Icon = "/images/icons/armedforce-light.png",
                Label = "ARMED FORCES",
                Value = @Model.ArmedForces,
                Controller = "ArmedForce",
                Action = "Index",
    }' />
    <partial name="HomeItemCount" model='new {
                Icon = "/images/icons/branch-light.png",
                Label = "BRANCHES",
                Value = @Model.Branches.Total,
                Controller = "Branch",
                Action = "Index",
    }' />
    <partial name="HomeItemCount" model='new {
                Icon = "/images/icons/builder-light.png",
                Label = "BUILDERS",
                Value = @Model.Builders.Total,
                Controller = "Builder",
                Action = "Index",
    }' />
    <partial name="HomeItemCount" model='new {
                Icon = "/images/icons/flag-light.png",
                Label = "FLAGS",
                Value = @Model.Flags.Total,
                Controller = "Flag",
                Action = "Index",
    }' />
    <partial name="HomeItemCount" model='new {
                Icon = "/images/icons/embassy-light.png",
                Label = "POLITICAL ENTITIES",
                Value = @Model.PoliticalEntities.Total,
                Controller = "PoliticalEntity",
                Action = "Index",
    }' />
    <partial name="HomeItemCount" model='new {
                Icon = "/images/icons/ship-light.png",
                Label = "SHIPS",
                Value = @Model.Ships.Total,
                Controller = "Ship",
                Action = "Index",
    }' />
    <partial name="HomeItemCount" model='new {
                Icon = "/images/icons/shipservice-light.png",
                Label = "SHIP SERVICES",
                Value = @Model.ShipServices.Total,
                Controller = "ShipService",
                Action = "Index",
    }' />
    <partial name="HomeItemCount" model='new {
                Icon = "/images/icons/shipclass-light.png",
                Label = "SHIP CLASSES",
                Value = @Model.ShipClasses.Total,
                Controller = "ShipClass",
                Action = "Index",
    }' />
</div>

<hr class="bg-light" />

<div class="d-flex flex-row flex-wrap">
    <div class="w-25 p-1">
        <partial name="DetailsItemHeader" model='new { Label = "FEATURED SHIP", Icon = "/images/icons/ship-light.png" }' />
        <a asp-controller="Ship" asp-action="Details" asp-route-id="@Model.FeaturedShip.Id" class="w-100 home-link">
            @if (Model.FeaturedShip.HasFlag)
            {
                <div class="mr-3">
                    <img class="card-img-top-50 rounded" src="@Model.FeaturedShip.Flag.ImageSource" alt="Card image" style="height:20px;width:30px;object-fit: cover;overflow: hidden;opacity:0.3" />
                </div>
            }
            <div class="text-white"><h5>@Model.FeaturedShip.Name</h5></div>
            <div class="ml-auto">
                @if (Model.FeaturedShip.Complete)
                {
                    <img src="~/images/icons/lock-light.png" style="height:20px;" />
                }
                else
                {
                    <img src="~/images/icons/unlock-light.png" style="height:20px;" />
                }
            </div>
        </a>
        <div class="d-flex flex-column ml-2">
            <div class="text-muted">Builder</div>
            <div class="text-white"><h5>@Model.FeaturedShip.Builder.Name</h5></div>
        </div>
        <div class="d-flex flex-column ml-2">
            <div class="text-muted">Launched</div>
            <div class="text-white"><h5>@Model.FeaturedShip.LaunchedLabel</h5></div>
        </div>
        <div class="d-flex flex-column ml-2">
            <div class="text-muted">Launched</div>
            <div class="text-white"><h5>@Model.FeaturedShip.TimeSpanLabel</h5></div>
        </div>
    </div>
    <div class="w-25 p-1">
        <partial name="DetailsItemHeader" model='new { Label = "FEATURED SERVICE", Icon = "/images/icons/shipservice-light.png" }' />
        <a asp-controller="ShipService" asp-action="Details" asp-route-id="@Model.FeaturedShipService.Id" class="w-100 home-link">
            @if (Model.FeaturedShipService.HasFlag)
            {
                <div class="mr-3">
                    <img class="card-img-top-50 rounded" src="@Model.FeaturedShipService.ImageSource" alt="Card image" style="height:20px;width:30px;object-fit: cover;overflow: hidden;opacity:0.3" />
                </div>
            }
            <div class="text-white"><h5>@Model.FeaturedShipService.Name</h5></div>
            <div class="ml-auto">
                @if (Model.FeaturedShipService.Complete)
                {
                    <img src="~/images/icons/lock-light.png" style="height:20px;" />
                }
                else
                {
                    <img src="~/images/icons/unlock-light.png" style="height:20px;" />
                }
            </div>
        </a>
        <div class="d-flex flex-column ml-2">
            <div class="text-muted">Start</div>
            <div class="text-white"><h5>@Model.FeaturedShipService.StartServiceLabel</h5></div>
        </div>
        <div class="d-flex flex-column ml-2">
            <div class="text-muted">End</div>
            <div class="text-white"><h5>@Model.FeaturedShipService.EndServiceLabel</h5></div>
        </div>
        <div class="d-flex flex-column ml-2">
            <div class="text-muted">Time Span</div>
            <div class="text-white"><h5>@Model.FeaturedShipService.TimeSpanLabel</h5></div>
        </div>
        <div class="d-flex flex-column ml-2">
            <div class="text-muted">Fate</div>
            <div class="text-white"><h5>@Model.FeaturedShipService.Fate</h5></div>
        </div>
    </div>
    <div class="w-25 p-1">
        <partial name="DetailsItemHeader" model='new { Label = "FEATURED CLASS", Icon = "/images/icons/shipclass-light.png" }' />
        <a asp-controller="ShipClass" asp-action="Details" asp-route-id="@Model.FeaturedShipClass.Id" class="w-100 home-link">
            <div class="mr-3">
                <img src="~/images/icons/shipclass-light.png" style="height:20px;" />
            </div>
            <div class="text-white"><h5>@Model.FeaturedShipClass.Name</h5></div>
            <div class="ml-auto">
                @if (Model.FeaturedShipClass.Complete)
                {
                    <img src="~/images/icons/lock-light.png" style="height:20px;" />
                }
                else
                {
                    <img src="~/images/icons/unlock-light.png" style="height:20px;" />
                }
            </div>
        </a>
        <div class="d-flex flex-column ml-2">
            <div class="text-muted">Sub-class</div>
            <div class="text-white"><h5>@Model.FeaturedShipClass.SubClassNameLabel</h5></div>
        </div>
        <div class="d-flex flex-column ml-2">
            <div class="text-muted">Year</div>
            <div class="text-white"><h5>@Model.FeaturedShipClass.YearLabel</h5></div>
        </div>
        <div class="d-flex flex-column ml-2">
            <div class="text-muted">Time Span</div>
            <div class="text-white"><h5>@Model.FeaturedShipClass.TimeSpanLabel</h5></div>
        </div>
        <div class="d-flex flex-column ml-2">
            <div class="text-muted">Ships</div>
            <div class="text-white"><h5>@Model.FeaturedShipClass.Ships.Count</h5></div>
        </div>
    </div>
    <div class="w-25 p-1">
        <partial name="DetailsItemHeader" model='new { Label = "FEATURED BUILDER", Icon = "/images/icons/builder-light.png" }' />
        <a asp-controller="Builder" asp-action="Details" asp-route-id="@Model.FeaturedBuilder.Id" class="w-100 home-link">
            @if (Model.FeaturedBuilder.HasFlag)
            {
                <div class="mr-3">
                    <img class="card-img-top-50 rounded" src="@Model.FeaturedBuilder.ImageSource" alt="Card image" style="height:20px;width:30px;object-fit: cover;overflow: hidden;opacity:0.3" />
                </div>
            }
            <div class="text-white"><h5>@Model.FeaturedBuilder.Name</h5></div>
            <div class="ml-auto">
                @if (Model.FeaturedBuilder.Complete)
                {
                    <img src="~/images/icons/lock-light.png" style="height:20px;" />
                }
                else
                {
                    <img src="~/images/icons/unlock-light.png" style="height:20px;" />
                }
            </div>
        </a>
        <div class="d-flex flex-column ml-2">
            <div class="text-muted">Start</div>
            <div class="text-white"><h5>@Model.FeaturedBuilder.FoundedLabel</h5></div>
        </div>
        <div class="d-flex flex-column ml-2">
            <div class="text-muted">End</div>
            <div class="text-white"><h5>@Model.FeaturedBuilder.DefunctLabel</h5></div>
        </div>
        <div class="d-flex flex-column ml-2">
            <div class="text-muted">Ships</div>
            <div class="text-white"><h5>@Model.FeaturedBuilder.Ships.Count</h5></div>
        </div>
    </div>
</div>

<hr class="bg-light" />

<div class="d-flex flex-row flex-wrap">
    <div class="w-25 p-1">
        <partial name="DetailsItemHeader" model='new { Label = "LAUNCHED ON THIS DAY", Icon = "/images/icons/ship-light.png" }' />
        <div class="mt-3" style="max-height:300px;overflow-y:auto;">
            <partial name="ListShips" model=@Model.ShipsList.OrderBy(x => x.Launched) />
        </div>
    </div>
    <div class="w-25 p-1">
        <partial name="DetailsItemHeader" model='new { Label = "COMMISSIONED ON THIS DAY", Icon = "/images/icons/shipservice-light.png" }' />
        <div class="mt-3" style="max-height:300px;overflow-y:auto;">
            <partial name="ListShipServicesHome" model=@Model.StartServicesList.OrderBy(x => x.StartService) />
        </div>
    </div>
    <div class="w-25 p-1">
        <partial name="DetailsItemHeader" model='new { Label = "DECOMMISSIONED ON THIS DAY", Icon = "/images/icons/shipservice-light.png" }' />
        <div class="mt-3" style="max-height:300px;overflow-y:auto;">
            <partial name="ListShipServicesHome" model=@Model.EndServicesList.OrderBy(x => x.EndService) />
        </div>
    </div>
    <div class="w-25 p-1">
        <partial name="DetailsItemHeader" model='new { Label = "STARTED ON THIS DAY", Icon = "/images/icons/embassy-light.png" }' />
        <div class="mt-3" style="max-height:300px;overflow-y:auto;">
            <partial name="ListPoliticalEntities" model=@Model.StartPoliticalEntitiesList.OrderBy(x => x.StartDate) />
        </div>
    </div>
</div>

    <div>
        @foreach (var item in Model.X)
        {
            <span>@item.Name</span>
        }
    </div>

    <hr class="bg-light" />
