@model MvcFactbook.ViewModels.Models.Main.HomeView

@{
    ViewData["Title"] = "Home Page";
}

<partial name='HomeMenu' model='new { Title = "HOME", Icon = "/images/icons/home-light.png" }' />
<hr class="bg-light" />

<div class="d-flex flex-row flex-wrap pb-1 mt-1">

    <div class="home-item">
        <a asp-controller="ArmedForce" asp-action="Index">
            <div class="d-flex flex-row w-100 p-1 pr-2">
                <div>
                    <img src="/images/icons/armedforce-light.png" alt="Card image" style="height:4vh;opacity:0.5;margin-top:1vh;margin-right:1vw" />
                </div>
                <div class="text-secondary mt-1" style="font-size:2rem;font-weight:700;opacity:0.5">
                    ARMED FORCES
                </div>
                <div class="ml-auto text-secondary" style="font-size:2.5rem;font-weight:500">
                    @Model.Branches.Total
                </div>
            </div>
        </a>
    </div>
    <div class="w-25">
        <a asp-controller="Branch" asp-action="Index" class="w-100">
            <div class="d-flex flex-row w-100 p-1 pr-2">
                <div>
                    <img src="/images/icons/branch-light.png" alt="Card image" style="height:4vh;opacity:0.5;margin-top:1vh;margin-right:1vw" />
                </div>
                <div class="text-secondary mt-1" style="font-size:2rem;font-weight:700;opacity:0.5">
                    BRANCHES
                </div>
                <div class="ml-auto text-secondary" style="font-size:2.5rem;font-weight:500">
                    @Model.Branches.Total
                </div>
            </div>
        </a>
    </div>
    <div class="w-25">
        <a asp-controller="Branch" asp-action="Index" class="text-white">
            <div class="d-flex flex-row">
                <div>
                    <img src="/images/icons/branch-light.png" alt="Card image" style="height:4vh;" />
                </div>
                <div class="text-secondary header-large">
                    BRANCHES
                </div>
                <div className="value">
                    @Model.Branches.Total
                </div>
            </div>
        </a>
    </div>
    <div class="w-25">
        <a asp-controller="ArmedForce" asp-action="Index" class="text-white">
            <div class="d-flex flex-row">
                <div>
                    <img src="/images/icons/armedforce-light.png" alt="Card image" style="height:4vh;" />
                </div>
                <div class="text-secondary header-large">
                    ARMED FORCES
                </div>
                <div className="value">
                    @Model.Branches.Total
                </div>
            </div>
        </a>
    </div>
    <div class="w-25">
        <a asp-controller="ArmedForce" asp-action="Index" class="text-white">
            <div class="d-flex flex-row">
                <div>
                    <img src="/images/icons/armedforce-light.png" alt="Card image" style="height:4vh;" />
                </div>
                <div class="text-secondary header-large">
                    ARMED FORCES
                </div>
                <div className="value">
                    @Model.Branches.Total
                </div>
            </div>
        </a>
    </div>







</div>



<div class="d-flex flex-row flex-wrap">
    <div class="p-2">
        <partial name="DetailsItemLinkHeader" model='new {
                Icon = "/images/icons/shipclass-light.png",
                Label = "SHIP CLASSES",
                Controller = "ShipClass",
                Action = "Index",
                Link = @Model.ShipClasses.Total,
                Tooltip = "Ship Classes"
        }' />
        <div class="d-flex flex-row">
            <partial name="ChartDonutComplete" model='new { Id="ShipClassesChart", Item=@Model.ShipClasses }' />
        </div>
    </div>
    <div class="p-2">
        <partial name="DetailsItemLinkHeader" model='new {
                Icon = "/images/icons/ship-light.png",
                Label = "SHIPS",
                Controller = "Ship",
                Action = "Index",
                Link = @Model.Ships.Total,
                Tooltip = "Ships"
        }' />
        <div class="d-flex flex-row">
            <partial name="ChartDonutComplete" model='new { Id="ShipsChart", Item=@Model.Ships }' />
        </div>
    </div>
    <div class="p-2">
        <partial name="DetailsItemLinkHeader" model='new {
                Icon = "/images/icons/shipservice-light.png",
                Label = "SHIP SERVICES",
                Controller = "ShipService",
                Action = "Index",
                Link = @Model.ShipServices.Total,
                Tooltip = "Ship Services"
        }' />
        <div class="d-flex flex-row">
            <partial name="ChartDonutComplete" model='new { Id="ShipServicesChart", Item=@Model.ShipServices }' />
        </div>
    </div>
    <div class="p-2">
        <partial name="DetailsItemLinkHeader" model='new {
                Icon = "/images/icons/builder-light.png",
                Label = "BUILDERS",
                Controller = "Builder",
                Action = "Index",
                Link = @Model.Builders.Total,
                Tooltip = "Builders"
        }' />
        <div class="d-flex flex-row">
            <partial name="ChartDonutComplete" model='new { Id="BuildersChart", Item=@Model.Builders }' />
        </div>
    </div>
    <div class="p-2">
        <partial name="DetailsItemLinkHeader" model='new {
                Icon = "/images/icons/branch-light.png",
                Label = "BRANCHES",
                Controller = "Branch",
                Action = "Index",
                Link = @Model.Branches.Total,
                Tooltip = "Branches"
        }' />
        <div class="d-flex flex-row">
            <partial name="ChartDonutComplete" model='new { Id="BranchesChart", Item=@Model.Branches }' />
        </div>
    </div>
    <div class="p-2">
        <partial name="DetailsItemLinkHeader" model='new {
                Icon = "/images/icons/flag-light.png",
                Label = "FLAGS",
                Controller = "Flag",
                Action = "Index",
                Link = @Model.Flags.Total,
                Tooltip = "Flags"
        }' />
        <div class="d-flex flex-row">
            <partial name="ChartDonutComplete" model='new { Id="FlagsChart", Item=@Model.Flags }' />
        </div>
    </div>
    <div class="p-2">
        <partial name="DetailsItemLinkHeader" model='new {
                Icon = "/images/icons/embassy-light.png",
                Label = "POLITICAL ENTITIES",
                Controller = "PoliticalEntity",
                Action = "Index",
                Link = @Model.PoliticalEntities.Total,
                Tooltip = "Political Entities"
        }' />
        <div class="d-flex flex-row">
            <partial name="ChartDonutComplete" model='new { Id="PoliticalEntitiesChart", Item=@Model.PoliticalEntities }' />
        </div>
    </div>

</div>

<hr class="bg-light" />

<div>
    @foreach (var item in Model.X)
    {
        <span>@item.Name</span>
    }
</div>

<hr class="bg-light" />

<div>
    @foreach (var item in Model.ShipsList)
    {
        <span>@item.Name</span>
    }
</div>

<hr class="bg-light" />

<div>
    @foreach (var item in Model.StartServicesList)
    {
        <span>@item.Name</span>
    }
</div>

<hr class="bg-light" />

<div>
    @foreach (var item in Model.EndServicesList)
    {
        <span>@item.Name</span>
    }
</div>

