<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <img src="~/images/icons/branch-light.png" style="height:24px;width:24px" />
    <a class="navbar-brand pl-4 pr-4" href="#">BRANCH</a>
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" asp-action="Index">Index</a></li>
        <li class="nav-item"><a class="nav-link" asp-action="Edit" asp-route-id="@Model.Id">Edit</a></li>
        <li class="nav-item"><a class="nav-link" asp-action="Delete" asp-route-id="@Model.Id">Delete</a></li>
        <li class="nav-item"><a class="nav-link" asp-action="Details" asp-route-id="@Model.Id">Details</a></li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">Lists</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-action="DetailsFlags" asp-route-id="@Model.Id">Flags</a>
                <a class="dropdown-item" asp-action="DetailsShipServices" asp-route-id="@Model.Id">Services</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">Items</a>
            <div class="dropdown-menu">
                @if (Model.ArmedForce != null)
                {
                    <a class="dropdown-item" asp-controller="ArmedForce" asp-action="Details" asp-route-id="@Model.ArmedForceId">@Model.ArmedForce.Name</a>
                }
                @if (Model.BranchType != null)
                {
                    <a class="dropdown-item" asp-controller="BranchType" asp-action="Details" asp-route-id="@Model.BranchTypeId">@Model.BranchType.Type</a>
                }
            </div>
        </li>
    </ul>
</nav>
