@model MvcFactbook.ViewModels.Models.Main.BranchView

@{
    ViewData["Title"] = "Details";
}

<br />
<partial name="DetailsMenu" />
<br />
<partial name="DetailsHeader" />

<div class="d-flex bg-dark mt-3">
    @if (Model.ArmedForce != null)
    {
        <div class="mr-3">
            <a asp-controller="ArmedForce" asp-action="Details" asp-route-id="@Model.ArmedForceId" class="text-dark">
                <div class="d-flex alert bg-danger">
                    <div><img class="rounded" src="@Model.ArmedForce.ImageSource" alt="Card image" style="height:25px;width:25px;object-fit: cover;overflow: hidden;opacity:0.3"></div>
                    <div class="pl-3"><h5>@Model.ArmedForce.Name</h5></div>
                    <div class="ml-auto pl-3">
                        <h5><i class='fas fa-angle-right'></i></h5>
                    </div>
                </div>
            </a>
        </div>
    }
    @if (Model.BranchType != null)
    {
        <div class="mr-3">
            <a asp-controller="BranchType" asp-action="Details" asp-route-id="@Model.BranchTypeId" class="text-dark">
                <div class="d-flex alert bg-warning">
                    <div><img src="~/images/icons/@Model.BranchType.IconDark" style="height:25px;width:25px" /></div>
                    <div class="pl-3"><h5>@Model.BranchType.Type</h5></div>
                    <div class="ml-auto pl-3">
                        <h5><i class='fas fa-angle-right'></i></h5>
                    </div>
                </div>
            </a>
        </div>
    }
    @if (Model.Flags.Count > 0)
    {
        <div class="mr-3">
            <a asp-action="FlagsList" asp-route-id="@Model.Id" class="text-dark">
                <div class="d-flex alert bg-success">
                    <div><img src="~/images/icons/flag-dark.png" style="height:24px;width:24px" /></div>
                    <div class="pl-3"><h5>Flags</h5></div>
                    <div class="pl-3"><h5>@Model.Flags.Count</h5></div>
                    <div class="ml-auto pl-3">
                        <h5><i class='fas fa-angle-right'></i></h5>
                    </div>
                </div>
            </a>
        </div>
    }
    @if (Model.ShipServices.Count > 0)
    {
        <div class="mr-3">
            <a asp-action="ShipServicesList" asp-route-id="@Model.Id" class="text-dark">
                <div class="d-flex alert bg-info">
                    <div><img src="~/images/icons/shipservice-dark.png" style="height:24px;width:24px" /></div>
                    <div class="pl-3"><h5>Ships</h5></div>
                    <div class="pl-3"><h5>@Model.ShipServices.Count</h5></div>
                    <div class="ml-auto pl-3">
                        <h5><i class='fas fa-angle-right'></i></h5>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
<div class="card border-0">
    <div class="card-header bg-secondary text-white">Ships</div>
    <div class="card-body bg-dark p-0">
        <partial name="PartialListDetailsShipServices" model="@Model.ShipServices.OrderBy(x => x.Name)" />
    </div>
</div>