@*@model MvcFactbook.ViewModels.Models.Main.BuilderView

@if (Model.HasFlag)
{
    <div class="pr-4 mt-2">
        <img class="card-img-top-50 rounded" src="@Model.ImageSource" alt="Card image" style="height:50px;object-fit: cover;overflow: hidden;opacity:0.3" />
    </div>
}
<div class="text-white pr-2">
    <h2>@Model.ShortName</h2>
    <h6>@Model.Name</h6>
</div>
<div class="text-muted pl-2 pr-2">
    <h2>@Model.Founded</h2>
</div>
@if (Model.Defunct.HasValue)
{
    <div class="text-muted pl-2 pr-2">
        <h2>-</h2>
    </div>
    <div class="text-muted pl-2 pr-2">
        <h2>@Model.Defunct</h2>
    </div>
}
<div class="ml-auto pt-2 mt-2">
    @if (Model.Complete)
    {
        <img src="~/images/icons/lock-light.png" style="height:30px;" />
    }
    else
    {
        <img src="~/images/icons/unlock-light.png" style="height:30px;" />
    }
</div>*@
