@model MvcFactbook.ViewModels.Models.Main.ArmedForceView

@{
    ViewData["Title"] = "Details";
}

<partial name="DetailsMenu" />
<br />
<partial name="DetailsHeader" />
<hr class="bg-secondary" />
<div class="d-flex mt-3 p-2">
    @if (Model.Flags.Count > 0)
    {
        <div class="mr-4">
            <a asp-action="FlagsList" asp-route-id="@Model.Id" class="text-dark">
                <div class="d-flex">
                    <div><img src="~/images/icons/flag-light.png" style="height:20px;width:20px" /></div>
                    <div class="pl-3 text-white">Flags</div>
                    <div class="pl-3 text-white">@Model.Flags.Count</div>
                    <div class="ml-auto pl-3">
                        <h5><i class='fas fa-angle-right text-white'></i></h5>
                    </div>
                </div>
            </a>
        </div>
    }
    @if (Model.Branches.Count > 0)
    {
        <div class="mr-4">
            <a asp-action="BranchesList" asp-route-id="@Model.Id" class="text-dark">
                <div class="d-flex">
                    <div><img src="~/images/icons/branch-light.png" style="height:20px;width:20px" /></div>
                    <div class="pl-3 text-white">Branches</div>
                    <div class="pl-3 text-white">@Model.Branches.Count</div>
                    <div class="ml-auto pl-3">
                        <h5><i class='fas fa-angle-right text-white'></i></h5>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
<hr class="bg-secondary" />
<div class="text-muted p-2"><h4>Flags</h4></div>
<div class=" p-2 w-75">
    <partial name="PartialListDetailsArmedForceFlags" model="@Model.ArmedForceFlags.OrderBy(x => x.Start)" />
</div>
<hr class="bg-secondary" />
