@model MvcFactbook.ViewModels.Models.Main.ShipClassView

<div class="d-flex flex-row flex-wrap mt-2">
    <div class="p-2 w-25">
        <div class="text-muted"><h6>@Html.DisplayNameFor(x => x.Name)</h6></div>
        <div class="text-white"><h4>@Model.Name</h4></div>
    </div>
    <div class="p-2 w-25">
        <div class="text-muted"><h6>@Html.DisplayNameFor(x => x.SubClassName)</h6></div>
        <div class="text-white"><h4>@Model.SubClassName</h4></div>
    </div>
    <div class="p-2 w-25">
        <div class="text-muted"><h6>@Html.DisplayNameFor(x => x.Year)</h6></div>
        <div class="text-white"><h4>@Model.Year</h4></div>
    </div>
    <div class="p-2 w-25">
        <div class="text-muted"><h6>@Html.DisplayNameFor(x => x.TimeSpan)</h6></div>
        <div class="text-white"><h4>@Model.TimeSpanLabel</h4></div>
    </div>
</div>
