@model MvcFactbook.ViewModels.Models.Main.ShipClassView

<div class="d-flex flex-row flex-wrap mt-2">
    <div class="p-2 w-25">
        <div class="text-muted"><h6>@Html.DisplayNameFor(x => x.Displacement)</h6></div>
        <div class="text-white"><h4>@Model.DisplacementLabel</h4></div>
    </div>
    <div class="p-2 w-25">
        <div class="text-muted"><h6>@Html.DisplayNameFor(x => x.Length)</h6></div>
        <div class="text-white"><h4>@Model.LengthLabel</h4></div>
    </div>
    <div class="p-2 w-25">
        <div class="text-muted"><h6>@Html.DisplayNameFor(x => x.Beam)</h6></div>
        <div class="text-white"><h4>@Model.BeamLabel</h4></div>
    </div>
    <div class="p-2 w-25">
        <div class="text-muted"><h6>@Html.DisplayNameFor(x => x.Propulsion)</h6></div>
        <div class="text-white"><h4>@Model.PropulsionLabel</h4></div>
    </div>
    <div class="p-2 w-25">
        <div class="text-muted"><h6>@Html.DisplayNameFor(x => x.Speed)</h6></div>
        <div class="text-white"><h4>@Model.SpeedLabel</h4></div>
    </div>
    <div class="p-2 w-25">
        <div class="text-muted"><h6>@Html.DisplayNameFor(x => x.Crew)</h6></div>
        <div class="text-white"><h4>@Model.CrewLabel</h4></div>
    </div>
</div>
