@model MvcFactbook.ViewModels.Models.Main.ShipView

@{
    ViewData["Title"] = "Details";
}

<br />
<partial name="DetailsMenu" />
<br />
<partial name="DetailsHeader" />

<div class="d-flex bg-dark">
    @if (Model.Builder != null)
    {
        <div class="mr-3">
            <a asp-controller="Builder" asp-action="Details" asp-route-id="@Model.BuilderId" class="text-dark">
                <div class="d-flex alert bg-warning">
                    <div><img src="~/images/icons/builder-dark.png" style="height:24px;width:24px" /></div>
                    <div class="pl-3"><h5>@Model.Builder.Name</h5></div>
                    <div class="ml-auto pl-3">
                        <h5><i class='fas fa-angle-right'></i></h5>
                    </div>
                </div>
            </a>
        </div>
    }
    @if (Model.ShipServices.Count > 0)
    {
        <div class="mr-3">
            <a asp-action="ShipServicesList" asp-route-id="@Model.Id" class="text-dark">
                <div class="d-flex alert bg-info">
                    <div><img src="~/images/icons/shipservice-dark.png" style="height:24px;width:24px" /></div>
                    <div class="pl-3"><h5>Service</h5></div>
                    <div class="pl-3"><h5>@Model.ShipServices.Count</h5></div>
                    <div class="ml-auto pl-3">
                        <h5><i class='fas fa-angle-right'></i></h5>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

<div class="card-deck w-75">
    <div class="card border-0">
        <div class="card-header bg-secondary text-white">
            <div class="d-flex">
                <div><h5>Details</h5></div>
                <div class="ml-auto"><h5><i class="fas fa-info-circle"></i></h5></div>
            </div>
        </div>
        <div class="card-body bg-light rounded-bottom">
            <partial name="BasicLabel" model='new { Label = Html.DisplayNameFor(x => x.Id), Value = Model.Id }' />
            <partial name="BasicLabel" model='new { Label = Html.DisplayNameFor(x => x.Name), Value = Model.Name }' />
            <partial name="BasicLabel" model='new { Label = Html.DisplayNameFor(x => x.Launched), Value = Model.LaunchedLabel }' />
            <partial name="BasicLabel" model='new { Label = Html.DisplayNameFor(x => x.Builder), Value = Model.Builder.Name }' />
        </div>
    </div>
    <div class="card border-0">
        <div class="card-header bg-secondary text-white">
            <div class="d-flex">
                <div><h5>Service</h5></div>
                <div class="ml-auto">
                    <h5><a asp-controller="ShipService" asp-action="CreateByShip" asp-route-id="@Model.Id" style="color:white" title="Add Service"><i class="fas fa-plus"></i></a></h5>
                </div>
            </div>
        </div>
        <div class="card-body bg-transparent" style="height:250px;max-height:250px;overflow-y:auto;">
            @if (Model.ShipServices.Count > 0)
            {
                foreach (var item in Model.ShipServices.OrderBy(x => x.StartService))
                {
                    <partial name="ActionListFlag" model='new { Controller = "ShipService", Action = "Details", Value = item.Name, RouteId = item.Id, Image = item.ImageSource }' />
                }
            }
            else
            {
                <partial name="BasicListLabel" model='new { Value = "--", Icon = string.Empty }' />
            }
        </div>
    </div>
</div>