<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <i class='@Model.Icon text-white' style='font-size:24px'></i>
    <a class="navbar-brand pl-4 pr-4" href="#"><h4>Create</h4></a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" asp-action="Index"><h4>Index</h4></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-id="@Model.RouteId"><h4>@Model.Text</h4></a>
        </li>
    </ul>
</nav>