<div class="mr-4">
    <a asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-id="@Model.RouteId" class="text-dark">
        <div class="d-flex">
            <div><img src="@Model.Icon" style="height:20px;width:20px" /></div>
            <div class="pl-2 text-white">@Model.Label</div>
            <div class="pl-2 text-white">@Model.Count</div>
            <div class="ml-auto pl-2">
                <i class='fas fa-angle-right text-white'></i>
            </div>
        </div>
    </a>
</div>
