@model MvcFactbook.ViewModels.Models.Main.PoliticalEntityView

@{
    ViewData["Title"] = "Details";
}

<partial name="DetailsMain" />
<partial name="DetailsInfo" />




@*@if (Model.PoliticalEntityFlags.Count > 0)
{
    
}*@

@*@if (Model.PrecedingPoliticalEntities.Count > 0 || Model.SucceedingPoliticalEntities.Count > 0)
{
    <div class="d-flex flex-row">
        <div class="w-50">
            <div class="text-muted p-2"><h5>Preceding Entities</h5></div>
            @if (Model.PrecedingPoliticalEntities.Count > 0)
            {
                <div class="d-flex flex-row flex-wrap">
                    @foreach (var item in Model.PrecedingPoliticalEntities)
                    {
                        <a asp-controller="PoliticalEntity" asp-action="Details" asp-route-id="@item.Id" class="text-dark w-50 p-2">
                            <div class="text-white">
                                <img class="rounded" src="@item.ImageSource" alt="Card image" style="height:20px;width:20px;object-fit: cover;overflow: hidden;opacity:0.4">
                                <span class="pl-2">@item.ListName</span>
                            </div>
                        </a>
                    }
                </div>
            }
            else
            {
                <div class="text-white p-2"><h5>--</h5></div>
            }
        </div>
        <div class="w-50">
            <div class="text-muted p-2"><h5>Succeeding Entities</h5></div>
            @if (Model.SucceedingPoliticalEntities.Count > 0)
            {
                <div class="d-flex flex-row flex-wrap">
                    @foreach (var item in Model.SucceedingPoliticalEntities)
                    {
                        <a asp-controller="PoliticalEntity" asp-action="Details" asp-route-id="@item.Id" class="text-dark w-50 p-2">
                            <div class="text-white">
                                <img class="rounded" src="@item.ImageSource" alt="Card image" style="height:20px;width:20px;object-fit: cover;overflow: hidden;opacity:0.4">
                                <span class="pl-2">@item.ListName</span>
                            </div>
                        </a>
                    }
                </div>
            }
            else
            {
                <div class="text-white p-2"><h5>--</h5></div>
            }
        </div>
    </div>
    <hr class="bg-secondary" />
}*@
