@model MvcFactbook.ViewModels.Models.Main.ShipSubTypeView

<div class="w-100 p-2">
    <partial name="DetailsItemHeader" model='new {
                Icon = "/images/icons/ship-light.png",
                Label = "TOTAL FLEET"
    }' />
    <div class="d-flex flex-row flex-wrap mt-3">
        <div style="width:20%">
            <div class="text-muted"><h6>Ships</h6></div>
            <div class="text-white"><h4>@Model.Fleet.TotalFleet.FleetServicesTotal.ShipServices</h4></div>
        </div>
        <div style="width:20%">
            <div class="text-muted"><h6>Tonnage</h6></div>
            <div class="text-white"><h4>@Model.Fleet.TotalFleet.FleetServicesTotal.TonnageLabel</h4></div>
        </div>
        <div style="width:20%">
            <div class="text-muted"><h6>Average Displacement</h6></div>
            <div class="text-white"><h4>@Model.Fleet.TotalFleet.FleetServicesTotal.DisplacementAverageLabel</h4></div>
        </div>
        <div style="width:20%">
            <div class="text-muted"><h6>Average Length</h6></div>
            <div class="text-white"><h4>@Model.Fleet.TotalFleet.FleetServicesTotal.LengthAverageLabel</h4></div>
        </div>
        <div style="width:20%">
            <div class="text-muted"><h6>Average Beam</h6></div>
            <div class="text-white"><h4>@Model.Fleet.TotalFleet.FleetServicesTotal.BeamAverageLabel</h4></div>
        </div>
    </div>
</div>

<hr class="bg-light" />

<div class="w-100 p-2">
    <partial name="DetailsItemHeader" model='new {
                Icon = "/images/icons/ship-light.png",
                Label = "ACTIVE FLEET"
    }' />
    <div class="d-flex flex-row flex-wrap mt-3">
        <div style="width:20%">
            <div class="text-muted"><h6>Ships</h6></div>
            <div class="text-white"><h4>@Model.Fleet.ActiveFleet.FleetServicesTotal.ShipServices</h4></div>
        </div>
        <div style="width:20%">
            <div class="text-muted"><h6>Tonnage</h6></div>
            <div class="text-white"><h4>@Model.Fleet.ActiveFleet.FleetServicesTotal.TonnageLabel</h4></div>
        </div>
        <div style="width:20%">
            <div class="text-muted"><h6>Average Displacement</h6></div>
            <div class="text-white"><h4>@Model.Fleet.ActiveFleet.FleetServicesTotal.DisplacementAverageLabel</h4></div>
        </div>
        <div style="width:20%">
            <div class="text-muted"><h6>Average Length</h6></div>
            <div class="text-white"><h4>@Model.Fleet.ActiveFleet.FleetServicesTotal.LengthAverageLabel</h4></div>
        </div>
        <div style="width:20%">
            <div class="text-muted"><h6>Average Beam</h6></div>
            <div class="text-white"><h4>@Model.Fleet.ActiveFleet.FleetServicesTotal.BeamAverageLabel</h4></div>
        </div>
    </div>
</div>

<hr class="bg-light" />

<div class="w-100 p-2">
    <partial name="DetailsItemHeader" model='new {
                Icon = "/images/icons/ship-light.png",
                Label = "INACTIVE FLEET"
    }' />
    <div class="d-flex flex-row flex-wrap mt-3">
        <div style="width:20%">
            <div class="text-muted"><h6>Ships</h6></div>
            <div class="text-white"><h4>@Model.Fleet.InactiveFleet.FleetServicesTotal.ShipServices</h4></div>
        </div>
        <div style="width:20%">
            <div class="text-muted"><h6>Tonnage</h6></div>
            <div class="text-white"><h4>@Model.Fleet.InactiveFleet.FleetServicesTotal.TonnageLabel</h4></div>
        </div>
        <div style="width:20%">
            <div class="text-muted"><h6>Average Displacement</h6></div>
            <div class="text-white"><h4>@Model.Fleet.InactiveFleet.FleetServicesTotal.DisplacementAverageLabel</h4></div>
        </div>
        <div style="width:20%">
            <div class="text-muted"><h6>Average Length</h6></div>
            <div class="text-white"><h4>@Model.Fleet.InactiveFleet.FleetServicesTotal.LengthAverageLabel</h4></div>
        </div>
        <div style="width:20%">
            <div class="text-muted"><h6>Average Beam</h6></div>
            <div class="text-white"><h4>@Model.Fleet.InactiveFleet.FleetServicesTotal.BeamAverageLabel</h4></div>
        </div>
    </div>
</div>

<hr class="bg-light" />
